<app-dashboard></app-dashboard>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{column}}</th>
        <th class="actionColumn" style="width:150px">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataSource; let i = index">
        <td>{{item.employeeNo}}</td>
        <td>{{item.employeeName}}</td>
        <td>{{item.salary}}</td>
        <td>{{item.departmentNo}}</td>
        <td> 
          <button class="actionBtn" (click)="addEmployeeDialog()" style="background-color:rgb(47, 212, 47)"><i class="fas fa-plus"></i></button>
          <button class="actionBtn" (click)="editRow(i)"><i class="fas fa-edit"></i></button>
          <button class="actionBtn" style="background-color:red" (click)="deleteEmployee(item.employeeNo)"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="displayEdit"  class="dialog-container">
  <div class="dialog-box">
    <h2>Update Employee</h2>
      <label>Employee No:</label>
      <input type="number"[(ngModel)]="dataSource[editIndex].employeeNo">

      <label>Employee Name:</label>
      <input type="text" [(ngModel)]="dataSource[editIndex].employeeName" >

      <label>Salary: </label>
      <input type="text" [(ngModel)]="dataSource[editIndex].salary">

      <label>Department No:</label>
      <input type="text" [(ngModel)]="dataSource[editIndex].departmentNo">
      <div class="button-container">
        <button type="submit" (click)="saveRow()">Update</button>
        <button type="submit" (click)="cancelEdit()" style="background-color:red">Cancel</button>
      </div>
      
  </div>
</div>