<div class="dialog-container">
    <div class="dialog-box">
      <h2>Add User</h2>
      <form (ngSubmit)="create(form)" #form="ngForm">
        <label>Login No:</label>
        <input type="text" name="loginNo" ngModel required>
  
        <label>Login Username:</label>
        <input type="text" name="loginUserName" ngModel required>
  
        <label>Login Password:</label>
        <input type="text" name="loginPassword" ngModel required>
  
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>the best way to edit my rows in crud app
  